<html lang="en">

<head>
  <style>
    span {
      font-size: 24px;
    }
  </style>
</head>

<h2 class="display-4">Reset Password</h2>

<%= form_for @cadet, :url => password_reset_path(params[:id]) do |f| %>
  <% if @cadet.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @cadet.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, "New Password:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
  </div>
  
  <%= f.submit "Update Password", class: "btn btn-default btn-primary" %> 
<% end %>