<style>
  .column {
      float: left;
      width: 40%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>

<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <font color="red">All Fields Required *</font> 
  <p></p>
  
  <div style="text-align: center;">
    <div  style="display: inline-block; text-align: left;">
      <div class="field">
        <strong><%= f.label :eventDate,"Event Date: " %></strong>
        <%= f.datetime_select :eventDate %>
      </div>
      <p></p>
      <div class="field">
        <strong><%= f.label :primaryType, "Primary Type:" %></strong>
        <%= f.select(:primaryType) do %>
          <% ['LLAB', 'PT'].each do |c| -%>
          <%= content_tag(:option, c) %>
          <% end %>
        <% end %>
      </div>


  
    <p></p>
      <div class="field">
        <strong><%= f.label :subType, "Sub Type:"%></strong>
        <%= f.select(:subType) do %>
          <% ['None', 'Cardio', 'Strength Workout'].each do |c| -%>
          <%= content_tag(:option, c) %>
          <% end %>
        <% end %>
      </div>
  
      <p></p>
      <div class="field">
        <strong><%= f.label "Details:" %></strong>
        <%= f.text_field :details, size:50 ,maxlength: 300 %>
      </div>


      <div style="text-align: center;">
        <% @ord_attendances = @event.attendances %>
        <p></p>
        <% i = 0 %>
        <div class="row"><strong><%= f.label "Attendance:" %></strong></div>
        <%= f.fields_for :attendances, @event.attendances do |form| %>
          
          <div class="field" style="text-align: left;">
            <div class="row">
            <div class="column"><%= form.label :attended,("#{@ord_attendances[i].cadet.lastName}, #{@ord_attendances[i].cadet.firstName}") %> </div>
            <div class="column"><%= form.select :attended, options_for_select(['Present', 'Absent', 'Tardy'], @ord_attendances[i].attended)  %>
            </div>
          </div>
          <% i = i + 1 %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="actions">
    <p></p>
    <%= f.submit %>
  </div>
<% end %>