<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :eventDate %>
    <%= f.datetime_select :eventDate %>
  </div>

  <div class="field">
    <%= f.label :primaryType %>
    <%= f.select(:primaryType) do %>
      <% ['LLAB', 'PT'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :subType %>
    <%= f.select(:subType) do %>
      <% ['None', 'Cardio', 'Strength Workout'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  
  <div>
    
    <% @ord_attendances = @event.attendances %>
    <p></p>
    <% i = 0 %>
    <%= f.fields_for :attendances, @event.attendances do |form| %>
      <div class="field">
      
        <%= form.label("#{@ord_attendances[i].cadet.lastName}, #{@ord_attendances[i].cadet.firstName}") %>
        <%= form.select(:attended) do %>
          <% ['Present', 'Absent', 'Tardy'].each do |c| -%>
          <%= content_tag(:option, c) %>
          <% end %>
        <% end %>
      </div>
      <% i = i + 1 %>
    <% end %>
  </div>
 
  <div class="actions">
    <p></p>
    <%= f.submit %>
  </div>

<% end %>