<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <font color="red">All Fields Required *</font> 
  <p></p>
  
  <div style="text-align: center;">
    <div  style="display: inline-block; text-align: left;">
      <div class="field">
        <%= f.label "Event Date: " %>
        <%= f.datetime_select :eventDate %>
      </div>
      <p></p>
      <div class="field">
        <%= f.label "Primary Type:" %>
        <%= f.select(:primaryType) do %>
          <% ['LLAB', 'PT'].each do |c| -%>
          <%= content_tag(:option, c) %>
          <% end %>
        <% end %>
      </div>


  
    <p></p>
      <div class="field">
        <%= f.label "Sub-Type:"%>
        <%= f.select(:subType) do %>
          <% ['None', 'Cardio', 'Strength Workout'].each do |c| -%>
          <%= content_tag(:option, c) %>
          <% end %>
        <% end %>
      </div>
  
      <p></p>
      <div class="field">
        <%= f.label "Details:" %>
        <%= f.text_field :details, size:50 ,maxlength: 300 %>
      </div>


      <div>
        <% @ord_attendances = @event.attendances %>
        <p></p>
        <% i = 0 %>
        <%= f.fields_for :attendances, @event.attendances do |form| %>
          <div class="field">
      
            <%= form.label("#{@ord_attendances[i].cadet.lastName}, #{@ord_attendances[i].cadet.firstName}") %>
            <%= form.select(:attended) do %>
              <% ['Present', 'Absent', 'Tardy'].each do |c| -%>
                <%= content_tag(:option, c) %>
              <% end %>
            <% end %>
          </div>
          <% i = i + 1 %>
        <% end %>
    </div>
  </div>

  <div class="actions">
    <p></p>
    <%= f.submit %>
  </div>
<% end %>