<html lang="en">

<style>

    .col-form-label{
      text-align: right;
    }
    .col-sm{
      text-align: left;
    }
    
</style>

<%= bootstrap_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <font color="red">All Fields Required *</font> 
  
  <br></br>
  
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-1"></div>
      
      <div class="col-md-10">

          <div class="form-group row">
            <% @ord_event = @event %>
            <label for="firstName" class="col-sm-3 col-form-label"><strong>Event Date: </strong></label>
            <div class="col-sm">
              <%= f.datetime_select :eventDate, required: true, hide_label: true %>
            </div>
          </div>
  
          <div class="form-group row">
            <label for="primaryType" class="col-sm-3 col-form-label"><strong>Primary Type: </strong></label>
            <div class="col-sm">
              <%= f.select :primaryType, options_for_select(['LLAB', 'PT'], @ord_event.primaryType), required: true, hide_label: true %>
            </div>
          </div>
    
          <div class="form-group row">
            <label for="subType" class="col-sm-3 col-form-label"><strong>Sub Type: </strong></label>
            <div class="col-sm">
              <%= f.select :subType, options_for_select(['None', 'Cardio', 'Strength Workout'], @ord_event.subType), required: true, hide_label: true %>
            </div>
          </div>

          <div class="form-group row">
            <label for="details" class="col-sm-3 col-form-label"><strong>Details: </strong></label>
            <div class="col-sm">
              <%= f.text_field :details, size:50 ,maxlength: 300, required: true, hide_label: true %>
            </div>
          </div>
          
          <div class="form-group row">
            <label for="attendances" class="col-sm-3 col-form-label"><strong>Attendance: </strong></label>
          </div>
          
          <div class="form-group row" >
            <% @ord_attendances = @event.attendances %>
            <p></p>
            <% i = 0 %>
            <label for="attendances" class="col-sm-3 col-form-label"><strong></strong></label>
            <div class="col-sm">
            <%= f.fields_for :attendances, @event.attendances do |form| %>

                <%= form.label :attended,("#{@ord_attendances[i].cadet.lastName}, #{@ord_attendances[i].cadet.firstName}") %> 
                <%= form.select :attended, options_for_select(@attendance_options, @ord_attendances[i].attended), hide_label: true  %>
              <% i = i + 1 %>
              
            <% end %>
            </div>
          </div>
            
        </div>

    
    <div class="col-md-1"></div>
    </div>
  </div>
  <p></p>
  
  <div class="actions" style="text-align:center;">
    <button onclick="alert('Submit')" type="submit" class="btn btn-success"><i class="fas fa-calendar-check"></i> Submit</button>
  </div>
<% end %>

</html>