<head>
  <style>
    span{
      font-size: 24px;
    }
  </style>
</head>
<h2 class="display-4">Editing Event <span><%= link_to 'Show Event', @event %></span></h2>


<%= render 'form', event: @event %>

<h3 class="font-weight-light" style = "margin-top: 80px; text-align:left;">Edit Attendance</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Attendance</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.cadet.firstName %></td>
        <td><%= attendance.attended %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

