<h2>Editing Event</h2>

<%= link_to 'Show', @event %>

<%= render 'form', event: @event %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attendance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ord_attendances = @event.attendances.joins(:cadet).order("cadets.lastName ASC") %>
    <% @ord_attendances.each do |attendance| %>
      <tr>
        <td><%= link_to "#{attendance.cadet.lastName}, #{attendance.cadet.firstName}", attendance.cadet %></td>
        <td><%= attendance.attended %></td>
        <div class="field">
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Back to Top Button -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
