<head>
  <style>
    .row {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid rgba(104,128,80,1);
      margin-bottom: 10px;
      border-radius: 10px;
    }
  </style>
</head>
<div class="container text-left">
  <p id="notice"><%= notice %></p>
  <h2>Events</h2>
  <%= link_to 'New Event', new_event_path %>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-3">Event Date</div>
    <div class="col-lg-3">Primary Type</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col-lg-3"><%= link_to "#{event.eventDate}", event %></div>
      <div class="col-lg-3"><%= event.primaryType %></div>
      <div class="col-lg-3"><%= link_to 'Edit', edit_event_path(event) %></div>
      <div class="col-lg-3"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>
<br>