<p id="notice"><%= notice %></p>

<p>
  <strong>Event ID:</strong>
  <%= @event.eventID %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @event.eventDate %>
</p>

<p>
  <strong>Primary Type:</strong>
  <%= @event.primaryType %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @event.subType %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
