<p id="notice"><%= notice %></p>

<h2>Event Attendance</h2>

<p>
  <strong>Eventid:</strong>
  <%= @event.eventID %>
</p>


<table>
  <thead>
    <tr>
      <th>Cadetid</th>
      <th>Attended?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <%if attendance.eventID == @event.eventID %>
        <tr>
          <td><%= attendance.cadetID %></td>
          <td><%= attendance.attendance %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Events Display', events_path %> 
