<head>
  <style>
    .event-info{
      text-align: center;
    }
    span{
      font-size: 24px;
    }
  </style>
</head>

<!--Event Information-->
<p id="notice"><%= notice %></p>

<div class="event-info">
  <h2 class="display-4" >Event Details: <%= @event.eventDate %> </h2>
  <div>
    <%= link_to 'Edit Details and Attendance', edit_event_path(@event), :class => "btn btn-secondary btn-warning btn-sm" %>

    <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-danger btn-sm"  %> 
    <br>
</div>
  
  <p style="margin-top:20px;">
    <strong>Primary Type:</strong>
    <%= @event.primaryType %>
  </p>
  
  <p>
    <strong>Subtype:</strong>
    <%= @event.subType %>
  </p>
  
  <p>
    <strong>Details:</strong>
    <%= @event.details %>
  </p>
</div>

<!--Event Attendance Table-->
<h3 class="font-weight-light" style = "text-align: left; margin-top: 80px;">Attendance</h3>
<table class = "table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Attendance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% #@ord_attendances = @event.attendances.joins(:cadet).order('"cadets.lastName"') %>
    <% #@ord_attendances = @event.attendances.includes(:cadet).order('"cadets.lastName"') %>
    
    <% @ord_attendances = @event.attendances.includes(:cadet).order('"cadets.lastName"').references(:cadet) %>
    <% #@ord_attendances = @event.attendances.includes(:cadet).sort_by("cadets.lastName") %>
    <% #@ord_attendances = @event.attendances %>
    <% @ord_attendances.each do |attendance| %>
      <tr>
        <td><%= link_to "#{attendance.cadet.lastName}, #{attendance.cadet.firstName}", attendance.cadet %></td>
        <td><%= attendance.attended %></td>
        <td><%= link_to 'Delete', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Back to Top Button --> 
<button onclick="topFunction()" type="button" class="btn btn-dark">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>