<%= form_with(model: cadet, local: true) do |form| %>
  <% if cadet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadet.errors.count, "error") %> prohibited this cadet from being saved:</h2>

      <ul>
        <% cadet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= "All Fields Required *" %>

  <p></p>

  <div class="field">
    <%= form.label "Last Name: *" %>
    <%= form.text_field :lastName, maxlength: 50 %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "First Name: *" %>
    <%= form.text_field :firstName, maxlength: 50 %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Email: *" %>
    <%= form.text_field :email, maxlength: 100 %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Phone Number: *" %>
    <%= form.text_field :phoneNumber, maxlength: 50 %>
  </div>

  <div class="field">
    <%= form.label "School: *" %><br>
    <%= form.select(:school) do %>
      <% ['Xavier University', 'Delgado Community College', 
      'Dillard University', 'University of New Orleans', 
      'University of Holy Cross', 'Loyola University', 
      'Lousiana State University Nursing School', 
      'Southern University of New Orleans', 'Tulane University'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Position: *" %><br>
    <%= form.select(:position) do %>
      <% ['Cadet Wing Commander', 'Mission Support Group Commander', 
      'Operations Group Commander', 'Squadron Commander', 
      'A Flight Commander', 'B Flight Commander', 'Cadet'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Course: *" %><br>
    <%= form.select(:course) do %>
      <% ['POC', 'GMC'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Graduation Year: *" %>
    <%= form.select(:gradYear) do %>
      <% ['2019','2020', '2021', '2022', '2023', '2024'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
    
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Flight: *" %><br>
    <%= form.select(:flight) do %>
      <% ['Alpha', 'Bravo'].each do |c| -%>
      <%= content_tag(:option, c) %>
      <% end %>
    <% end %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Username: *" %>
    <%= form.text_field :username, maxlength: 100 %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Password: *" %>
    <%= form.text_field :password, maxlength: 100 %>
  </div>
  
  <p></p>

  <div class="actions">
    <p>
      <p></p>
      <%= form.submit %>
    </p>
    
  </div>
<% end %>