<header>
  <style>
  
    .col-form-label{
      text-align: right;
    }
    
    .col-sm{
      text-align: left;
    }

  </style>
</header>

<%= bootstrap_form_with(model: cadet, local: true) do |form| %>
  <% if cadet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadet.errors.count, "error") %> prohibited this cadet from being saved:</h2>

      <ul>
        <% cadet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <font color="red">All Fields Required *</font>
  
  <br></br>

  <div class="container">
    <div class="row">
      <% @ord_cadet = @cadet %>
      <div class="col-md-2"></div>
      <div class="col-md-8">

      <div class="form-group row">
        <label for="firstName" class="col-sm-3 col-form-label"><strong>First Name: </strong></label>
        <div class="col-sm">
          <%= form.text_field :firstName, required: true, hide_label: true %>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="lastName" class="col-sm-3 col-form-label"><strong>Last Name: </strong></label>
        <div class="col-sm">
          <%= form.text_field :lastName, required: true, hide_label: true %>
        </div>
      </div>


      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label"><strong>Email Address: </strong><br></label>
        <div class="col-sm">
          <%= form.text_field :email, required: true, hide_label: true %>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="phoneNumber" class="col-sm-3 col-form-label"><strong>Phone Number: </strong><br></label>
        <div class="col-sm">
          <%= form.phone_field :phoneNumber, required: true, hide_label: true %>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="school" class="col-sm-3 col-form-label"><strong>School: </strong><br></label>
        <div class="col-sm">
          <%= form.select :school, options_for_select( @schoolList, @ord_cadet.school), required: true, hide_label: true %>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="gradYear" class="col-sm-3 col-form-label"><strong>Graduation Year: </strong><br></label>
        <div class="col-sm">
          <%= form.number_field :gradYear, :value => Date.today.year, required: true, hide_label: true %>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="position" class="col-sm-3 col-form-label"><strong>Position: </strong><br></label>
        <div class="col-sm">
          <%= form.select :position, options_for_select(@positionList, @ord_cadet.position), required: true, hide_label: true%>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="course" class="col-sm-3 col-form-label"><strong>Course: </strong><br></label>
        <div class="col-sm">
          <%= form.select :course, options_for_select(@courseList, @ord_cadet.course), required: true, hide_label: true%>
        </div>
      </div>

      <div class="form-group row">
        <label for="flight" class="col-sm-3 col-form-label"><strong>Flight: </strong><br></label>
        <div class="col-sm">
  
          <%= form.select :flight, options_for_select(@flightList, @ord_cadet.flight), required: true, hide_label: true%>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label"><strong>Username: </strong><br></label>
        <div class="col-sm">
          <%= form.text_field :username, required: true, hide_label: true %>
        </div>
      </div>
    
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label"><strong>Password: </strong><br></label>
        <div class="col-sm">
          <%= form.password_field :password, required: true, hide_label: true %>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="password_confirmation" class="col-sm-3 col-form-label"><strong>Confirm Password: </strong><br></label>
        <div class="col-sm">
          <%= form.password_field :password_confirmation, required: true, hide_label: true%>
        </div>
      </div>
      </div>
      <div class="col-md-2"></div>
      </div>
      <br>
    
  </div>

    

  <div class="actions" style="text-align:center;">
    <button onclick="alert('Submit')" type="submit" class="btn btn-success">Submit</button>
<% end %>
  </div>
