<%= form_with(model: cadet, local: true) do |form| %>
  <% if cadet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadet.errors.count, "error") %> prohibited this cadet from being saved:</h2>

      <ul>
        <% cadet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= "All Fields Required *" %>

  <p></p>

  <div class="field">
    <%= form.label "Last Name: *" %>
    <%= form.text_field :lastName %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "First Name: *" %>
    <%= form.text_field :firstName %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Email: *" %>
    <%= form.text_field :email %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Phone Number: *" %>
    <%= form.text_field :phoneNumber %>
  </div>

  <div class="field">
    <%= form.label "School: *" %>
    <%= form.text_field :school %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Position: *" %>
    <%= form.text_field :position %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Course: *" %>
    <%= form.text_field :course %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Graduation Year: *" %>
    <%= form.text_field :gradYear %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Flight: *" %>
    <%= form.text_field :flight %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Username: *" %>
    <%= form.text_field :username %>
  </div>
  
  <p></p>

  <div class="field">
    <%= form.label "Password: *" %>
    <%= form.text_field :password %>
  </div>
  
  <p></p>

  <div class="actions">
    <p>
      <p></p>
      <%= form.submit %>
    </p>
    
  </div>
<% end %>