<head>
  <style>
    .table {
    }
  </style>
</head>



<div class="container text-left">
  <p id="notice"><%= notice %></p>
  <h2 class="display-4" style="margin-top: 30px;">Cadets</h2>
  <%= link_to 'New Cadet', new_cadet_path , :class => "btn btn-secondary btn-success btn-sm" %>
  <br>
  <br>
</div>



<!--Cadet Table-->
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Cadet Name</th>
      <th scope="col">Update Cadet</th>
      <th scope="col">Delete Cadet</th>
    </tr>
  </thead>
  <tbody>
    <% @cadets.each do |cadet| %>
      <tr>
        <td><%= link_to "#{cadet.lastName}, #{cadet.firstName} ", cadet %></td>
        <td><%= link_to 'Edit', edit_cadet_path(cadet), :class => "btn btn-secondary btn-warning btn-sm" %></td>
                <td><%= link_to 'Remove', cadet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-danger btn-sm"  %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Back to Top Button -->
<button onclick="topFunction()" type="button" class="btn btn-dark">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
