<%= javascript_include_tag "sort_table" %>

<head>
  <style>
  </style>
</head>



<div class="container text-left">
  <p id="notice"><%= notice %></p>
  <h2 class="display-4" style="margin-top: 30px;">Cadets</h2>
<<<<<<< HEAD
=======
  <% if (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %> 
    <%= link_to 'New Cadet', new_cadet_path , :class => "btn btn-secondary btn-success btn-sm" %>
  <%end%>
>>>>>>> 3b708c634d0bc0f4e7ecf2a66e977f2588e2afdb
</div>


<div class="container text-right" style="display: flex; justify-content: flex-end">
  <%= form_tag cadets_path, method: :get do %>
    <%= text_field_tag 'term', params[:term], placeholder: "First or Last Name..." %>
    <button class="btn btn-secondary btn-sm" type="submit_tag" >Search</button>
  <% end %>
  <br>
  <br>
</div>



<!--Cadet Table-->
<table class="table table-striped table-bordered", id = "table">
  <thead class="thead-dark">
    <tr>
      <th onclick="sortTable(0)", scope = "col", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">Cadet Name</th>
      <th onclick="sortTable(1)",scope="col", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">Flight</th>
      <th onclick="sortTable(2)",scope="col", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">Position</th>
      <th onclick="sortTable(3)",scope="col", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">School</th>
    </tr>
  </thead>
  <tbody>
    <% @cadets.each do |cadet| %>
      <tr>
        <td style="font-weight:bold"><%= link_to "#{cadet.lastName}, #{cadet.firstName} ", cadet %></td>
        <td><%= link_to "#{cadet.flight}", cadet %></td>
        <td><%= link_to "#{cadet.position}", cadet %></td>
        <td><%= link_to "#{cadet.school}", cadet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Back to Top Button -->
<button onclick="topFunction()" type="button" class="btn btn-dark">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>

