<p id="notice"><%= notice %></p>

<h1>Cadets</h1>

<table>
  <thead>
    <tr>
      <th>Cadetid</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Phonenumber</th>
      <th>School</th>
      <th>Position</th>
      <th>Course</th>
      <th>Gradyear</th>
      <th>Flight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadets.each do |cadet| %>
      <tr>
        <td><%= cadet.cadetID %></td>
        <td><%= cadet.lastName %></td>
        <td><%= cadet.firstName %></td>
        <td><%= cadet.email %></td>
        <td><%= cadet.phoneNumber %></td>
        <td><%= cadet.school %></td>
        <td><%= cadet.position %></td>
        <td><%= cadet.course %></td>
        <td><%= cadet.gradYear %></td>
        <td><%= cadet.flight %></td>
        <td><%= link_to 'View Profile', cadet %></td>
        <td><%= link_to 'Edit', edit_cadet_path(cadet) %></td>
        <td><%= link_to 'Remove', cadet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadet', new_cadet_path %>
