<head>
  <style>
    .row {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid rgba(104,128,80,1);
      margin-bottom: 10px;
      border-radius: 10px;
      
    }
  </style>
</head>
<div class="container text-left">
  <p id="notice"><%= notice %></p>
  <h2>Cadets</h2>
  
  <%= link_to 'New Cadet', new_cadet_path %>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-4">Name</div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
    <% @cadets.each do |cadet| %>
      <div class="row">
        <div class="col-lg-4"><%= link_to "#{cadet.firstName} #{cadet.lastName}", cadet %></div>
        <div class="col-lg-4"><%= link_to 'Edit', edit_cadet_path(cadet) %></div>
        <div class="col-lg-4"><%= link_to 'Remove', cadet, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
</div>
<br>

