<p id="notice"><%= notice %></p>

<p>
  <strong>Cadet ID:</strong>
  <%= @cadet.cadetID %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @cadet.lastName %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @cadet.firstName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadet.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @cadet.phoneNumber %>
</p>

<p>
  <strong>School:</strong>
  <%= @cadet.school %>
</p>

<p>
  <strong>Position:</strong>
  <%= @cadet.position %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cadet.course %>
</p>

<p>
  <strong>Grad Year:</strong>
  <%= @cadet.gradYear %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @cadet.flight %>
</p>

<p>
  <strong>Username:</strong>
  <%= @cadet.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cadet.password %>
</p>

<%= link_to 'Edit', edit_cadet_path(@cadet) %> |
<%= link_to 'Back', cadets_path %>
