<%= javascript_include_tag "sort_table" %>

<head>
  <style>
    span{
      font-size: 24px;
    }
    
    .column {
      float: left;
      width: 20%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>
<p id="notice"><%= notice %></p>

<!--Cadet Information-->

<h2 class = "display-4" style="margin-bottom:20px;">Cadet <%= @cadet.lastName %></h2>


<div style="text-align: center;">
  <div  style="display: inline-block; text-align: left;">
    <p>
      <strong>Last Name:</strong>
      <%= @cadet.lastName %>
    </p>

    <p>
      <strong>First Name:</strong>
      <%= @cadet.firstName %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @cadet.email %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= "(#{(@cadet.phoneNumber.to_s)[0, 3]}) #{(@cadet.phoneNumber.to_s)[3, 3]}-#{(@cadet.phoneNumber.to_s)[6, 4]}" %>
    </p>

    <p>
      <strong>School:</strong>
      <%= @cadet.school %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @cadet.position %>
    </p>

    <p>
      <strong>Course:</strong>
      <%= @cadet.course %>
    </p>
    
    <p>
      <strong>Grad Year:</strong>
      <%= @cadet.gradYear %>
    </p>

    <p>
      <strong>Flight:</strong>
      <%= @cadet.flight %>
    </p>
    <% if (@cadet == Cadet.find_by(id: session[:cadet_id])) || (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>  
    <p>
      <strong>Approved:</strong>
      <%= "#{@cadet.approved}" %>
    </p>
    <% end %>
    
  </div>
</div>


<% if (@cadet == Cadet.find_by(id: session[:cadet_id])) || (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>  
  <!--Cadet Attendance Table-->
  <%@ord_attendance = @cadet.attendances%>
  
  <h2 class="font-weight-light" style = "text-align: left; margin-top: 20px;">Attendance Records</h2>
  
  <div class="row">
    <div class="column"><p><strong>Overall Attendance: </strong><%= @total_percent.round(2) %>%</p> </div>
    <div class="column"><p><strong>LLAB Attendance: </strong><%= @LLAB_percent.round(2)%>%</p> </div>
    <div class="column"><p><strong>PT Attendance: </strong><%= @PT_percent.round(2) %>%</p> </div>
  </div>
  
  
  <table class="table table-striped table-bordered", id = "table">
    <thead class="thead-dark">
      <tr>
        <th scope="col", onclick="sortTable(0)", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">Event</th>
        <th scope="col", onclick="sortTable(1)", onMouseOver="this.style.color='yellow'", onMouseOut="this.style.color='#FFF'">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @ord_attendance.each do |attendance| %>
        <tr>
          <td><%= link_to "#{attendance.event.eventDate}", attendance.event %></td>
          <% if attendance.attended === 0 %>
            <td class = "bg-danger text-white"><%= "Absent" %></td>
          <% elsif attendance.attended === 1 %>
             <td  class ="bg-success text-white"><%= "Present" %></td>
          <% elsif attendance.attended === 2 %>
             <td  class ="bg-warning text-black"><%= "Tardy" %></td>
          <% else %>
             <td><%= attendance.attended %></td>
          <% end %>            
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if (Cadet.find_by(id: session[:cadet_id]).position != "Cadet") %>  
    <div>
      <%= link_to '<i class="fas fa-user-edit"></i> Edit'.html_safe, edit_cadet_path(@cadet), :class => "btn btn-secondary btn-info btn-sm"%>
  
      <%= link_to ' <i class="fas fa-user-times"></i> Remove'.html_safe, @cadet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-danger btn-sm"  %>
    </div
  <% end %>


<br></br>

<%= render "events/back_to_top" %>

<% end %>