<head>
  <style>
    span{
      font-size: 24px;
    }
  </style>
</head>
<p id="notice"><%= notice %></p>

<!--Cadet Information-->
<h2 class = "display-4">Cadet <%= @cadet.lastName %></h2>

<div>
  <%= link_to 'Edit', edit_cadet_path(@cadet), :class => "btn btn-secondary btn-warning btn-sm" %>

  <%= link_to 'Remove', @cadet, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-danger btn-sm"  %> 
  <br>
</div>

<p  style="margin-top:20px;">
  <strong>Last Name:</strong>
  <%= @cadet.lastName %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @cadet.firstName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadet.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @cadet.phoneNumber %>
</p>

<p>
  <strong>School:</strong>
  <%= @cadet.school %>
</p>

<p>
  <strong>Position:</strong>
  <%= @cadet.position %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cadet.course %>
</p>

<p>
  <strong>Grad Year:</strong>
  <%= @cadet.gradYear %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @cadet.flight %>
</p>


<!--Cadet Attendance Table-->
<h3 class="font-weight-light" style = "text-align: left; margin-top: 80px;">Attendance</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
     <%#@ord_cadets = @cadet.attendances.joins(:event).order("events.eventDate ASC")%>
     <%@ord_cadets = @cadet.attendances %>
    <% @ord_cadets.each do |attendance| %>
      <tr>
        <td><%= link_to "#{attendance.event.eventDate}", attendance.event %></td>
        <td><%= attendance.attended %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- Back to Top Button -->
<button onclick="topFunction()" type="button" class="btn btn-dark">Back to Top</button>
<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>