<head>
  <style>
    span{
      font-size: 24px;
    }
  </style>
</head>
<p id="notice"><%= notice %></p>

<h2 class = "display-4">Cadet <%= @cadet.lastName %><span> <%= link_to 'Edit', edit_cadet_path(@cadet) %></span></h2>

<p>
  <strong>Last Name:</strong>
  <%= @cadet.lastName %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @cadet.firstName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cadet.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @cadet.phoneNumber %>
</p>

<p>
  <strong>School:</strong>
  <%= @cadet.school %>
</p>

<p>
  <strong>Position:</strong>
  <%= @cadet.position %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cadet.course %>
</p>

<p>
  <strong>Grad Year:</strong>
  <%= @cadet.gradYear %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @cadet.flight %>
</p>

<p>
  <strong>Username:</strong>
  <%= @cadet.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cadet.password %>
</p>

<h3 class="font-weight-light" style = "text-align: left; margin-top: 80px;">Attendance</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @cadet.attendances.each do |attendance| %>
      <tr>
        <td><%= link_to "#{attendance.event.eventDate}", attendance.event %></td>
        <td><%= attendance.attended %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>