<%= form_with(model: @attendance, local: true) do |form| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :attended %><br>
    <%= form.select(:attended) do %>
      <% ['Present', 'Absent', 'Tardy'].each do |c| -%>
      <%= content_tag(:option, c) %>
    <% end %>
  <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>