<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cadetID %>
    <%= form.number_field :cadetID %>
  </div>

  <div class="field">
    <%= form.label :eventDate %>
    <%= form.datetime_select :eventDate %>
  </div>

  <div class="field">
    <%= form.label :attendance %>
    <%= form.check_box :attendance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
