<p id="notice"><%= notice %></p>

<p>
  <strong>Cadet ID:</strong>
  <%= @attendance.cadetID %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @attendance.eventID %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @attendance.attendance %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
