<!DOCTYPE html>
<html>
  <head>
    <title>ROTSee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <style>
      .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
      }
            
      footer {
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:rgb(75,83,32);
        color: white;
        text-align: center;
      }
        
      .navbar a {
        color: white;
      }
        
      /* Change the color of links on hover */
        .navbar a:hover {
          background-color: black;
        }
        
        /* Add a color to the active/current link */
        .navbar a.active {
          background-color: #4CAF50;
          color: black;
        }
      .navbar {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .navbarB {
        background-color: #4B5320;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        color: white;
      }
      
    </style>
  </head>
  <% if logged_in? %>
  
  <!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: 	rgb(75,83,32)">
    <a class="navbar-brand font-weight-bold" href="/" style="background-color: rgb(75,83,32); color: white;">ROTSee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link font-weight-bold" href="/" style="color:white;">Home</a>
        <a class="nav-item nav-link font-weight-bold" href="/cadets" style="color:white;">Cadets</a>
        <a class="nav-item nav-link font-weight-bold" href="/events" style="color:white;">Events</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link font-weight-bold" href="<%= cadet_path(current_cadet) %>" style="color:white;"><%= current_cadet.username %></a>
        <a class="nav-item nav-link font-weight-bold" href="/logout" style="color:white;">Logout</a>
      </div>
    </div>
  </nav>
  
  <% else %>
  
    <!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(75,83,32)">
    <a class="navbar-brand font-weight-bold" href="/" style="color:white;">ROTSee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  
  <% end %>

  <!--Main-->
  <body>
    <br>
  <br>
  <br>
    <div class="container text-center">
      <%= yield %>
    </div>
    <br>
  <br>
  <br>
    <div class="navbarB">
      <a class="nav-item nav-link font-weight-bold">ROTSee developed by: Kennedy Dorsey, Jessica Hotsko, Olivia Nye, and Riley Juenemann</a>
    </div>
  </body>





  
</html>
